body {
  width: 100%;
  height: 100vh;
  background: url(assets/freedom.jpg) no-repeat center;
  background-size: cover;
  color: black;
  display: table;
  text-align: center;
  margin: 0;
}
.wrapper {
  display: table-cell;
  vertical-align: top;
  padding: 2rem;
  width: 100%;
  
}
.quote {
  font-family: 'Julius Sans One', 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 600px){
    .wrapper {
    padding-top: 12rem;
  }
   .quote {
    font-size: 4rem;
  }
   
}

p {
    margin-top: 1rem;
}
.author {
  font-family: 'Crimson Text', serif;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

@media (min-width: 600px){
  .author {
    font-size: 2rem;
  }
}
small {
  font-size: smaller;
}

nav {
  position: absolute;
  bottom: 1rem;
  width: 82vw;
  height: 1rem;
}
nav a {
  text-decoration: none;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  padding: 0.5rem;
}

@media (min-width: 600px){
  nav a {
    padding-left: 10rem;
  }
}